body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #dbe6f6, #c5796d);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.converter-card {
  background-color: #fff;
  width: 330px;
  padding: 25px 20px;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.mobile-time {
  font-size: 16px;
  text-align: left;
  font-weight: bold;
  margin-bottom: 10px;
}

h2 {
  margin-bottom: 20px;
  font-size: 22px;
  color: #333;
}

label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
  color: #555;
  text-align: left;
}

input, select {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  box-sizing: border-box;
}

button {
  width: 100%;
  margin-top: 20px;
  background-color: #03a9f4;
  color: white;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #0288d1;
}

.result {
  margin-top: 20px;
}

.result p {
  font-size: 18px;
  font-weight: bold;
  white-space: pre-line; /* allows newline display */
}
